Web/OnlineCatalog.Web.Main/Service References/BasketClient/BasketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://online.catalog.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://online.catalog.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://online.catalog.com/Imports">
      <xsd:import schemaLocation="http://localhost/OrderService/BasketService.svc?xsd=xsd0" namespace="https://online.catalog.com/" />
      <xsd:import schemaLocation="http://localhost/OrderService/BasketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/OrderService/BasketService.svc?xsd=xsd2" namespace="https://online.catalog.com" />
      <xsd:import schemaLocation="http://localhost/OrderService/BasketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBasketService_AddProductToBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToBasket" />
  </wsdl:message>
  <wsdl:message name="IBasketService_AddProductToBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToBasketResponse" />
  </wsdl:message>
  <wsdl:message name="IBasketService_RemoveProductFromBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductFromBasket" />
  </wsdl:message>
  <wsdl:message name="IBasketService_RemoveProductFromBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductFromBasketResponse" />
  </wsdl:message>
  <wsdl:portType name="IBasketService">
    <wsdl:operation name="AddProductToBasket">
      <wsdl:input wsaw:Action="https://online.catalog.com/IBasketService/AddProductToBasket" message="tns:IBasketService_AddProductToBasket_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IBasketService/AddProductToBasketResponse" message="tns:IBasketService_AddProductToBasket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProductFromBasket">
      <wsdl:input wsaw:Action="https://online.catalog.com/IBasketService/RemoveProductFromBasket" message="tns:IBasketService_RemoveProductFromBasket_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IBasketService/RemoveProductFromBasketResponse" message="tns:IBasketService_RemoveProductFromBasket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>