Web/OnlineCatalog.Web.Main/Service References/BasketClient/BasketService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://online.catalog.com/" elementFormDefault="qualified" targetNamespace="https://online.catalog.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/OrderService/BasketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/OrderService/BasketService.svc?xsd=xsd2" namespace="https://online.catalog.com" />
  <xs:import schemaLocation="http://localhost/OrderService/BasketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddProductToBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="shopGuid" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productGuid" type="q2:guid" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductToBasketResult" nillable="true" type="tns:ServiceActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceActionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="https://online.catalog.com" minOccurs="0" name="Status" type="q3:ActionStatus" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ThrownException" nillable="true" type="q4:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceActionResult" nillable="true" type="tns:ServiceActionResult" />
  <xs:element name="RemoveProductFromBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="basketGuid" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productGuid" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductFromBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveProductFromBasketResult" nillable="true" type="tns:ServiceActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>