Web/OnlineCatalog.Web.Main/Service References/ShopRepositoryClient/ShopRepositoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="https://online.catalog.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ShopService/ShopRepositoryService.svc?xsd=xsd2" namespace="https://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/ShopService/ShopRepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllShops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="https://online.catalog.com/" minOccurs="0" name="GetAllShopsResult" nillable="true" type="q1:ArrayOfShopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfShopDto">
    <xs:sequence>
      <xs:element xmlns:q2="https://online.catalog.com/" minOccurs="0" maxOccurs="unbounded" name="ShopDto" nillable="true" type="q2:ShopDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="https://online.catalog.com/" name="ArrayOfShopDto" nillable="true" type="q3:ArrayOfShopDto" />
  <xs:complexType name="ShopDto">
    <xs:sequence>
      <xs:element xmlns:q4="https://onlinecatalog.com" minOccurs="0" name="Address" nillable="true" type="q4:UserAddressDto" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q5="https://online.catalog.com/" name="ShopDto" nillable="true" type="q5:ShopDto" />
  <xs:element name="GetShopByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="https://online.catalog.com/" minOccurs="0" name="GetShopByNameResult" nillable="true" type="q6:ShopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopByUniqueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopByUniqueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="https://online.catalog.com/" minOccurs="0" name="GetShopByUniqueIdResult" nillable="true" type="q7:ShopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopsAssignedToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userGuid" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopsAssignedToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="https://online.catalog.com/" minOccurs="0" name="GetShopsAssignedToUserResult" nillable="true" type="q8:ArrayOfShopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopsAssignedToUserByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopsAssignedToUserByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="https://online.catalog.com/" minOccurs="0" name="GetShopsAssignedToUserByLoginResult" nillable="true" type="q9:ArrayOfShopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>