Services/OnlineCatalog.Services.ProductCategoryService/Service References/ShopService/ShopRepositoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="https://online.catalog.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ShopService/ShopRepositoryService.svc?xsd=xsd2" namespace="https://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/ShopService/ShopRepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetShopByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="https://online.catalog.com/" minOccurs="0" name="GetShopByNameResult" nillable="true" type="q1:ShopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ShopDto">
    <xs:sequence>
      <xs:element xmlns:q2="https://onlinecatalog.com" minOccurs="0" name="Address" nillable="true" type="q2:UserAddressDto" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="https://online.catalog.com/" name="ShopDto" nillable="true" type="q3:ShopDto" />
  <xs:element name="GetShopByUniqueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopByUniqueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="https://online.catalog.com/" minOccurs="0" name="GetShopByUniqueIdResult" nillable="true" type="q4:ShopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>