Web/OnlineCatalog.Web.Main/Service References/ProductAdministrationClient/ProductAdministrationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="https://onlinecatalog.com" elementFormDefault="qualified" targetNamespace="https://onlinecatalog.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ProductService/ProductAdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserAddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="BuildingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAddressDto" nillable="true" type="tns:UserAddressDto" />
</xs:schema>