Web/OnlineCatalog.Web.Main/Service References/UserAssignmentClient/UserAssignmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://online.catalog.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://online.catalog.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://online.catalog.com/Imports">
      <xsd:import schemaLocation="http://localhost/UserService/UserAssignmentService.svc?xsd=xsd0" namespace="https://online.catalog.com/" />
      <xsd:import schemaLocation="http://localhost/UserService/UserAssignmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/UserService/UserAssignmentService.svc?xsd=xsd2" namespace="https://online.catalog.com" />
      <xsd:import schemaLocation="http://localhost/UserService/UserAssignmentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserAssignmentService_AssignUserToShop_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignUserToShop" />
  </wsdl:message>
  <wsdl:message name="IUserAssignmentService_AssignUserToShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignUserToShopResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAssignmentService_UnassignUserFromShop_InputMessage">
    <wsdl:part name="parameters" element="tns:UnassignUserFromShop" />
  </wsdl:message>
  <wsdl:message name="IUserAssignmentService_UnassignUserFromShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnassignUserFromShopResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserAssignmentService">
    <wsdl:operation name="AssignUserToShop">
      <wsdl:input wsaw:Action="https://online.catalog.com/IUserAssignmentService/AssignUserToShop" message="tns:IUserAssignmentService_AssignUserToShop_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IUserAssignmentService/AssignUserToShopResponse" message="tns:IUserAssignmentService_AssignUserToShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnassignUserFromShop">
      <wsdl:input wsaw:Action="https://online.catalog.com/IUserAssignmentService/UnassignUserFromShop" message="tns:IUserAssignmentService_UnassignUserFromShop_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IUserAssignmentService/UnassignUserFromShopResponse" message="tns:IUserAssignmentService_UnassignUserFromShop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>