Web/OnlineCatalog.Web.Main/Service References/ProductRepositoryClient/ProductRepositoryService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="https://online.catalog.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd2" namespace="http://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd3" namespace="https://onlinecatalog.com" />
  <xs:element name="GetShopProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopGuid" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="https://online.catalog.com/" minOccurs="0" name="GetShopProductsResult" nillable="true" type="q1:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfProductDto">
    <xs:sequence>
      <xs:element xmlns:q2="https://online.catalog.com/" minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="q2:ProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="https://online.catalog.com/" name="ArrayOfProductDto" nillable="true" type="q3:ArrayOfProductDto" />
  <xs:complexType name="ProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedShop" type="ser:guid" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element xmlns:q4="http://onlinecatalog.com" minOccurs="0" name="CreatedBy" nillable="true" type="q4:UserDto" />
      <xs:element minOccurs="0" name="DefaultPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProductCategories" nillable="true" type="q5:ArrayOfguid" />
      <xs:element minOccurs="0" name="ProductGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tax" type="xs:int" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q6="https://online.catalog.com/" name="ProductDto" nillable="true" type="q6:ProductDto" />
  <xs:complexType name="ArrayOfShopDto">
    <xs:sequence>
      <xs:element xmlns:q7="https://online.catalog.com/" minOccurs="0" maxOccurs="unbounded" name="ShopDto" nillable="true" type="q7:ShopDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q8="https://online.catalog.com/" name="ArrayOfShopDto" nillable="true" type="q8:ArrayOfShopDto" />
  <xs:complexType name="ShopDto">
    <xs:sequence>
      <xs:element xmlns:q9="https://onlinecatalog.com" minOccurs="0" name="Address" nillable="true" type="q9:UserAddressDto" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q10="https://online.catalog.com/" name="ShopDto" nillable="true" type="q10:ShopDto" />
  <xs:simpleType name="UserRankDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="SystemAdministrator" />
      <xs:enumeration value="ShopAdministrator" />
      <xs:enumeration value="Client" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q11="https://online.catalog.com/" name="UserRankDto" nillable="true" type="q11:UserRankDto" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGuid" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="https://online.catalog.com/" minOccurs="0" name="GetProductResult" nillable="true" type="q12:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>