Web/OnlineCatalog.Web.Main/Service References/ProductRepositoryClient/ProductRepositoryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://online.catalog.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://online.catalog.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://online.catalog.com/Imports">
      <xsd:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd0" namespace="https://online.catalog.com/" />
      <xsd:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd2" namespace="http://onlinecatalog.com" />
      <xsd:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd3" namespace="https://onlinecatalog.com" />
      <xsd:import schemaLocation="http://localhost/ProductService/ProductRepositoryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductRepositoryService_GetShopProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShopProducts" />
  </wsdl:message>
  <wsdl:message name="IProductRepositoryService_GetShopProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShopProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRepositoryService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IProductRepositoryService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductRepositoryService">
    <wsdl:operation name="GetShopProducts">
      <wsdl:input wsaw:Action="https://online.catalog.com/IProductRepositoryService/GetShopProducts" message="tns:IProductRepositoryService_GetShopProducts_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IProductRepositoryService/GetShopProductsResponse" message="tns:IProductRepositoryService_GetShopProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="https://online.catalog.com/IProductRepositoryService/GetProduct" message="tns:IProductRepositoryService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IProductRepositoryService/GetProductResponse" message="tns:IProductRepositoryService_GetProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>