Web/OnlineCatalog.Web.Main/Service References/UserRepositoryClient/UserRepositoryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/UserService/UserRepositoryService.svc?xsd=xsd2" namespace="https://online.catalog.com/" />
  <xs:import schemaLocation="http://localhost/UserService/UserRepositoryService.svc?xsd=xsd3" namespace="http://onlinecatalog.com" />
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="https://online.catalog.com/" minOccurs="0" name="acceptableUserRanks" nillable="true" type="q1:ArrayOfUserRankDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://onlinecatalog.com" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q2:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>