Web/OnlineCatalog.Web.Main/Service References/UserRepositoryClient/UserRepositoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="https://online.catalog.com/" elementFormDefault="qualified" targetNamespace="https://online.catalog.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/UserService/UserRepositoryService.svc?xsd=xsd4" namespace="https://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/UserService/UserRepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUserRankDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRankDto" type="tns:UserRankDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRankDto" nillable="true" type="tns:ArrayOfUserRankDto" />
  <xs:simpleType name="UserRankDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="SystemAdministrator" />
      <xs:enumeration value="ShopAdministrator" />
      <xs:enumeration value="Client" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRankDto" nillable="true" type="tns:UserRankDto" />
  <xs:complexType name="ArrayOfShopDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShopDto" nillable="true" type="tns:ShopDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopDto" nillable="true" type="tns:ArrayOfShopDto" />
  <xs:complexType name="ShopDto">
    <xs:sequence>
      <xs:element xmlns:q1="https://onlinecatalog.com" minOccurs="0" name="Address" nillable="true" type="q1:UserAddressDto" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShopDto" nillable="true" type="tns:ShopDto" />
</xs:schema>