Web/OnlineCatalog.Web.Main/Service References/UserRepositoryClient/UserRepositoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://onlinecatalog.com" elementFormDefault="qualified" targetNamespace="http://onlinecatalog.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/UserService/UserRepositoryService.svc?xsd=xsd4" namespace="https://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/UserService/UserRepositoryService.svc?xsd=xsd2" namespace="https://online.catalog.com/" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element xmlns:q1="https://onlinecatalog.com" minOccurs="0" name="Address" nillable="true" type="q1:UserAddressDto" />
      <xs:element xmlns:q2="https://online.catalog.com/" minOccurs="0" name="AssignedShops" nillable="true" type="q2:ArrayOfShopDto" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="https://online.catalog.com/" name="UserRank" type="q3:UserRankDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
</xs:schema>