Web/OnlineCatalog.Web.Main/Service References/OrderClient/OrderService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://online.catalog.com/" elementFormDefault="qualified" targetNamespace="https://online.catalog.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/OrderService/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/OrderService/OrderService.svc?xsd=xsd2" namespace="https://online.catalog.com" />
  <xs:import schemaLocation="http://localhost/OrderService/OrderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="FinalizeOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="basketGuid" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizeOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinalizeOrderResult" nillable="true" type="tns:ServiceActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceActionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="https://online.catalog.com" minOccurs="0" name="Status" type="q2:ActionStatus" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ThrownException" nillable="true" type="q3:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceActionResult" nillable="true" type="tns:ServiceActionResult" />
</xs:schema>