Web/OnlineCatalog.Web.Main/Service References/ProductCategoryServiceClient/ProductCategoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="https://online.catalog.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ProductCategoryService/ProductCategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/ProductCategoryService/ProductCategoryService.svc?xsd=xsd2" namespace="http://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/ProductCategoryService/ProductCategoryService.svc?xsd=xsd3" namespace="https://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/ProductCategoryService/ProductCategoryService.svc?xsd=xsd4" namespace="https://online.catalog.com" />
  <xs:import schemaLocation="http://localhost/ProductCategoryService/ProductCategoryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddProductCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="https://online.catalog.com/" minOccurs="0" name="productCategory" nillable="true" type="q1:ProductCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProductCategoryDto">
    <xs:sequence>
      <xs:element xmlns:q2="https://online.catalog.com/" minOccurs="0" name="AssignedProducts" nillable="true" type="q2:ArrayOfProductDto" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductCategoryGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ShopGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="UpdatedDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="https://online.catalog.com/" name="ProductCategoryDto" nillable="true" type="q3:ProductCategoryDto" />
  <xs:complexType name="ArrayOfProductDto">
    <xs:sequence>
      <xs:element xmlns:q4="https://online.catalog.com/" minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="q4:ProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q5="https://online.catalog.com/" name="ArrayOfProductDto" nillable="true" type="q5:ArrayOfProductDto" />
  <xs:complexType name="ProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element xmlns:q6="http://onlinecatalog.com" minOccurs="0" name="CreatedBy" nillable="true" type="q6:UserDto" />
      <xs:element minOccurs="0" name="DefaultPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element xmlns:q7="https://online.catalog.com/" minOccurs="0" name="ProductCategories" nillable="true" type="q7:ArrayOfProductCategoryDto" />
      <xs:element minOccurs="0" name="ProductGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="https://online.catalog.com/" minOccurs="0" name="ShopAssigned" nillable="true" type="q8:ShopDto" />
      <xs:element minOccurs="0" name="Tax" type="xs:int" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q9="https://online.catalog.com/" name="ProductDto" nillable="true" type="q9:ProductDto" />
  <xs:complexType name="ArrayOfShopDto">
    <xs:sequence>
      <xs:element xmlns:q10="https://online.catalog.com/" minOccurs="0" maxOccurs="unbounded" name="ShopDto" nillable="true" type="q10:ShopDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q11="https://online.catalog.com/" name="ArrayOfShopDto" nillable="true" type="q11:ArrayOfShopDto" />
  <xs:complexType name="ShopDto">
    <xs:sequence>
      <xs:element xmlns:q12="https://onlinecatalog.com" minOccurs="0" name="Address" nillable="true" type="q12:UserAddressDto" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q13="https://online.catalog.com/" name="ShopDto" nillable="true" type="q13:ShopDto" />
  <xs:simpleType name="UserRankDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="SystemAdministrator" />
      <xs:enumeration value="ShopAdministrator" />
      <xs:enumeration value="Client" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q14="https://online.catalog.com/" name="UserRankDto" nillable="true" type="q14:UserRankDto" />
  <xs:complexType name="ArrayOfProductCategoryDto">
    <xs:sequence>
      <xs:element xmlns:q15="https://online.catalog.com/" minOccurs="0" maxOccurs="unbounded" name="ProductCategoryDto" nillable="true" type="q15:ProductCategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q16="https://online.catalog.com/" name="ArrayOfProductCategoryDto" nillable="true" type="q16:ArrayOfProductCategoryDto" />
  <xs:element name="AddProductCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="https://online.catalog.com/" minOccurs="0" name="AddProductCategoryResult" nillable="true" type="q17:ServiceActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceActionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element xmlns:q18="https://online.catalog.com" minOccurs="0" name="Status" type="q18:ActionStatus" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ThrownException" nillable="true" type="q19:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q20="https://online.catalog.com/" name="ServiceActionResult" nillable="true" type="q20:ServiceActionResult" />
  <xs:element name="RemoveProductCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCategoryUniqueId" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="https://online.catalog.com/" minOccurs="0" name="RemoveProductCategoryResult" nillable="true" type="q21:ServiceActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="https://online.catalog.com/" minOccurs="0" name="productCategory" nillable="true" type="q22:ProductCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="https://online.catalog.com/" minOccurs="0" name="EditProductCategoryResult" nillable="true" type="q23:ServiceActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>