Web/OnlineCatalog.Web.Main/Service References/ShopConfigurationClient/ShopConfigurationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://online.catalog.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://online.catalog.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://online.catalog.com/Imports">
      <xsd:import schemaLocation="http://localhost/ShopService/ShopConfigurationService.svc?xsd=xsd0" namespace="https://online.catalog.com/" />
      <xsd:import schemaLocation="http://localhost/ShopService/ShopConfigurationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ShopService/ShopConfigurationService.svc?xsd=xsd2" namespace="https://onlinecatalog.com" />
      <xsd:import schemaLocation="http://localhost/ShopService/ShopConfigurationService.svc?xsd=xsd3" namespace="https://online.catalog.com" />
      <xsd:import schemaLocation="http://localhost/ShopService/ShopConfigurationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShopConfigurationService_AddNewShop_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewShop" />
  </wsdl:message>
  <wsdl:message name="IShopConfigurationService_AddNewShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewShopResponse" />
  </wsdl:message>
  <wsdl:message name="IShopConfigurationService_ShopActivation_InputMessage">
    <wsdl:part name="parameters" element="tns:ShopActivation" />
  </wsdl:message>
  <wsdl:message name="IShopConfigurationService_ShopActivation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShopActivationResponse" />
  </wsdl:message>
  <wsdl:message name="IShopConfigurationService_EditShop_InputMessage">
    <wsdl:part name="parameters" element="tns:EditShop" />
  </wsdl:message>
  <wsdl:message name="IShopConfigurationService_EditShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditShopResponse" />
  </wsdl:message>
  <wsdl:portType name="IShopConfigurationService">
    <wsdl:operation name="AddNewShop">
      <wsdl:input wsaw:Action="https://online.catalog.com/IShopConfigurationService/AddNewShop" message="tns:IShopConfigurationService_AddNewShop_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IShopConfigurationService/AddNewShopResponse" message="tns:IShopConfigurationService_AddNewShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShopActivation">
      <wsdl:input wsaw:Action="https://online.catalog.com/IShopConfigurationService/ShopActivation" message="tns:IShopConfigurationService_ShopActivation_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IShopConfigurationService/ShopActivationResponse" message="tns:IShopConfigurationService_ShopActivation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditShop">
      <wsdl:input wsaw:Action="https://online.catalog.com/IShopConfigurationService/EditShop" message="tns:IShopConfigurationService_EditShop_InputMessage" />
      <wsdl:output wsaw:Action="https://online.catalog.com/IShopConfigurationService/EditShopResponse" message="tns:IShopConfigurationService_EditShop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>