Web/OnlineCatalog.Web.Main/Service References/RegistrationClient/RegisterService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://online.catalog.com" elementFormDefault="qualified" targetNamespace="http://online.catalog.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RegistrationService/RegisterService.svc?xsd=xsd2" namespace="http://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/RegistrationService/RegisterService.svc?xsd=xsd4" namespace="https://online.catalog.com/" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://onlinecatalog.com" minOccurs="0" name="userForRegistration" nillable="true" type="q1:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="https://online.catalog.com/" minOccurs="0" name="RegisterUserResult" nillable="true" type="q2:ServiceActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>