Web/OnlineCatalog.Web.Main/Service References/RegistrationClient/RegisterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="https://online.catalog.com/" elementFormDefault="qualified" targetNamespace="https://online.catalog.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RegistrationService/RegisterService.svc?xsd=xsd3" namespace="https://onlinecatalog.com" />
  <xs:import schemaLocation="http://localhost/RegistrationService/RegisterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/RegistrationService/RegisterService.svc?xsd=xsd5" namespace="https://online.catalog.com" />
  <xs:import schemaLocation="http://localhost/RegistrationService/RegisterService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfShopDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShopDto" nillable="true" type="tns:ShopDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopDto" nillable="true" type="tns:ArrayOfShopDto" />
  <xs:complexType name="ShopDto">
    <xs:sequence>
      <xs:element xmlns:q1="https://onlinecatalog.com" minOccurs="0" name="Address" nillable="true" type="q1:UserAddressDto" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShopDto" nillable="true" type="tns:ShopDto" />
  <xs:simpleType name="UserRankDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="SystemAdministrator" />
      <xs:enumeration value="ShopAdministrator" />
      <xs:enumeration value="Client" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRankDto" nillable="true" type="tns:UserRankDto" />
  <xs:complexType name="ServiceActionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="https://online.catalog.com" minOccurs="0" name="Status" type="q2:ActionStatus" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ThrownException" nillable="true" type="q3:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceActionResult" nillable="true" type="tns:ServiceActionResult" />
</xs:schema>